body {
    font-family: 'Alata', sans-serif;
}

.header {
    background-color: #ed1b2e;
}

.px-100 {
    padding: 0 100px;
}

.h-300 {
    height: 300px;
}

.w-300 {
    width: 300px;
}

.profile {
    position: relative;
    top: 40px;
}

.mt-80 {
    margin-top: 80px;
}

.ml-custom-1 {
    margin-left: 80px;
}

.about-me {
    margin-top: 100px;
}

.btn-custom {
    background: #e0e1e2 none;
}

.btn-custom:hover {
    background: #bcc0c3 none;
}

.shadow-box {
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
}

.text-header {
    color: white;
}

.text-red {
    color: red;
}

.icon-text {
    color: white;
}

.m-custom-1 {
    margin-top: 0;
}

.fb:hover {
    color: #3b5998;
}

.tw:hover {
    color: #1da1f2;
}

.gh:hover {
    color: #333;
}

@media (min-width: 0px) and (max-width: 767px) {
    .about-me {
        margin-top: 250px;
    }
    .text-header {
        color: black;
    }
    .m-custom-1 {
        margin-top: 40px;
    }
}

@media (min-width: 0px) and (max-width: 935px) {
    .ml-custom-1 {
        margin-left: 0px;
    }
}